footer {
  text-align: center;
  padding: 30px 0px;
}

h1 {
  text-align: center;
}

.card {
  padding: 20px 10px;
  margin: 15px 0px;
}

.card-img-top {
  min-height: 200px;
  max-height: 300px;
}

.card-content {
  min-height: 300px;
}

.bold {
  font-weight: bold;
}

.cart-amount {
  text-align: center;
  padding: 10px;
}

body {
  padding-top: 70px;
}

.fixed-top {
  min-height: 70px;
}

.row-style {
  margin: 0px auto;
  padding: 5px 0px;
}

.img-responsive {
  max-width: 100%;
}

.navbar-satisfy {
  font-family: satisfy;
  font-size: large;
}

nav span {
  cursor: pointer;
}
